[submodule "uniswap-v4/lib/forge-std"]
	path = uniswap-v4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "uniswap-v4/lib/v4-core"]
	path = uniswap-v4/lib/v4-core
	url = https://github.com/Uniswap/v4-core
[submodule "uniswap-v4/lib/openzeppelin-contracts"]
	path = uniswap-v4/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "uniswap-v4/lib/v4-by-example"]
	path = uniswap-v4/lib/v4-by-example
	url = https://github.com/uniswapfoundation/v4-by-example
